*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Utility */
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* end Utility */
.actions{
  width: 1200px;
  height: 55px;
  margin: auto;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
  color: #33475b;
}
.line-heightbox{
  line-height: 55px;
}
.search-pic {
height: 27px;
width: 27px;
}
.search-pic > img {
  position:  absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inline-box{
 display: inline-block;
 margin-right: 15px;
}
select {
  padding: 5px;
  background-color: transparent;
  color: #33475b;
}
#log-in-button{
  background-color: transparent;
  padding: 7px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 7px 7px;
}
#get-hubspot-button{
  padding: 7px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
}
.nav-container{
  width: 1200px;
  height: 55px;
  margin: auto;
  background-color: #ffffff;
}
nav > ul {
list-style: none;
}
nav > ul > li{
  display: inline;
}
nav > ul > li> a {
text-decoration: none;
color: #33475b;
margin-right: 12px;
}
.nav-container, .actions{
  position: relative;
}
.logo-pic > img {
  position:  absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.container-copertina{
  width: 1200px;
  height: 540px;
  margin: auto;
  background-image: url("img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.title{
  color: #33475b;
  font-size: 40px;
  width: 400px;
}
.text{
  color: #33475b;
  width: 400px;
  margin: 25px 0 25px 0;
}
#get-hubspot-big-button{
  padding: 13px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
}
.container-copertina > span {
  display: block;
  margin-top: 25px;
  color: #33475b;
}
.primo-container-main{
  width: 1200px;
  margin: auto;
  background-color: #f4f9fd;
}
.primo-container-main > .img{
  margin-top: 25px;
  height: 150px;
  width: 100%;
  background-image: url("img/cubo.png");
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: center top;
}
.title-uno {
  text-align: center;
  color: #33475b;
  font-size: 35px;
}
.text-uno{
  color: #33475b;
  width: 800px;
  margin: 15px auto 15px;
  text-align: center;
  font-size: 17px;
}
.secondo-container-main{
  width: 1100px;
  height: 250px;
  margin: 55px auto;
  background-color: #fff;
  box-shadow: 3px 1px 5px #000;
}
.uno, .due, .tre {
  width: 350px;
  height: 100%;
  text-align: center;
}
.box > .img {
  height: 140px;
  width: 100%;
  background-image: url("img/libretto.png");
  background-repeat: no-repeat;
  background-position: center;
}
.learn-more-button{
  padding: 10px 30px;
  font-size: 17px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
  margin: 25px 0 25px;
}
.due {
  width: 750px;
  height: 100%;
}
.title-due{
  color: #33475b;
  font-size: 30px;
  margin: 25px 0 25px;
}
.text-due{
  color: #33475b;
  font-size: 17px;
  width: 570px;
  line-height: 25px;
  margin-bottom: 25px;
}
.due > span {
  color: #33475b;
  font-size: 17px;
  font-weight: bold;
}
.due > span::after {
  display: inline-block;
  content: "";
  width: 400px;
  border: 1px solid #33475b;
  margin-left: 50px;
}
.terzo-container-main{
  width: 1200px;
  margin: 0 auto 35px;
}
.terzo-container-main > .box {
  width: 27.8%;
  box-shadow: 3px 1px 5px #000;
  margin-left: 50px
}
.terzo-container-main > .uno > .img {
  height: 140px;
  width: 100%;
  background-image: url("img/marketing-hub.png");
  background-repeat: no-repeat;
  background-position: center;
}
.terzo-container-main > .box > .title {
  width: 100%;
  text-align: center;
  color: #33475b;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 25px;
}
.terzo-container-main > .box > .text {
  width: 100%;
  text-align: center;
  color: #33475b;
  font-size: 17px;
  margin-bottom: 25px;
  padding:  0 35px;
}
.terzo-container-main > .box > .text::after {
  display: inline-block;
  content: "";
  width: 90%;
  border: 1px solid #33475b;
  margin: 35px 0 25px 0;
}
.container-check{
  width: 100%;
  text-align: left;
  }
.container-check:last-child{
  margin-bottom: 35px;
  }
.terzo-container-main > .box > .container-check > .img-check {
  height: 19px;
  width: 18px;
  background-image: url("img/check-orange.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-left: 20px;
}
.text-check, .img-check {
  display: inline-block;
}
