*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Utility */
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.title {
  font-size: 30px;
  color: #33475b;
  font-family: 'Roboto', sans-serif;
}
.text {
  font-size: 17px;
  color: #33475b;
  font-family: 'Roboto', sans-serif;
}
.box-center {
  width: 100%;
  text-align:  center;
}
/* end Utility */
.actions{
  width: 1200px;
  height: 55px;
  margin: auto;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
  color: #33475b;
}
.line-heightbox{
  line-height: 55px;
}
.search-pic {
height: 27px;
width: 27px;
}
.search-pic > img {
  position:  absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inline-box{
 display: inline-block;
 margin-right: 15px;
}
select {
  padding: 5px;
  background-color: transparent;
  color: #33475b;
}
#log-in-button{
  background-color: transparent;
  padding: 7px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 7px 7px;
}
#get-hubspot-button{
  padding: 7px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
}
.nav-container{
  width: 1200px;
  height: 55px;
  margin: auto;
  background-color: #ffffff;
}
nav > ul {
list-style: none;
}
nav > ul > li{
  display: inline;
}
nav > ul > li> a {
text-decoration: none;
color: #33475b;
}
.nav-container, .actions{
  position: relative;
}
.logo-pic > img {
  position:  absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.container-copertina{
  width: 1200px;
  height: 540px;
  margin: auto;
  background-image: url("img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.title-copertina{
  width: 400px;
  font-size: 35px;
}
.text-copertina{
  width: 400px;
  margin: 25px 0 25px 0;
}
#get-hubspot-big-button{
  padding: 13px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
}
.subtitle {
  margin-top: 25px;
  font-size: 14px;
}
.primo-container-main{
  width: 1200px;
  margin: auto;
  background-color: #f4f9fd;
}
.primo-container-main > .img{
  height: 150px;
  width: 100%;
  background-image: url("img/cubo.png");
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: center top;
}
.text-uno{
  width: 800px;
  margin: 15px auto 15px;
  text-align: center;
}
.secondo-container-main{
  width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 3px 1px 5px #000;
}
.uno {
  width: 35%;
}
.box > .img {
  height: 140px;
  background-image: url("img/libretto.png");
  background-repeat: no-repeat;
  background-position: center;
}
.learn-more-button{
  padding: 10px 30px;
  font-size: 17px;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  color:white;
  border-radius: 7px 7px;
  margin: 25px 0 25px;
}
.due {
  width: 750px;
  height: 100%;
}
.text-due{
  width: 570px;
  line-height: 25px;
  margin-bottom: 25px;
}
.due > #popolar-feature {
  color: #33475b;
  font-size: 17px;
  font-weight: bold;
}
.due > #popolar-feature::after {
  display: inline-block;
  content: "";
  width: 400px;
  border: 1px solid #33475b;
  margin-left: 50px;
}
.terzo-container-main{
  width: 1200px;
  margin: 0 auto 35px;
  text-align: center;
}
.terzo-container-main > .box{
  width: 28%;
  box-shadow: 3px 1px 5px #000;
  margin-top: 50px;
}
.terzo-container-main > .due{
  margin: 50px 96px;
}
.terzo-container-main > .uno > .img {
  height: 140px;
  background-image: url("img/marketing-hub.png");
  background-repeat: no-repeat;
  background-position: center;
}
.terzo-container-main > .box > .text {
  width: 100%;
  margin-bottom: 25px;
  padding:  0 35px;
}
.terzo-container-main > .box > .text::after {
  display: inline-block;
  content: "";
  width: 90%;
  border: 1px solid #33475b;
  margin: 35px 0 25px 0;
}
.container-check{
  text-align: left;
}
.container-check:last-child{
  margin-bottom: 35px;
}
.terzo-container-main > .box > .container-check > .img-check {
  height: 19px;
  width: 18px;
  background-image: url("img/check-orange.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-left: 20px;
}
.text-check, .img-check {
  display: inline-block;
}
.quarto-container-main{
  width: 1200px;
  margin: 0 auto 35px;
  background-color: #00b0b1;
}
.quarto-container-main > .title {
  width: 85%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin: auto;
  padding: 25px;
}
.quarto-container-main > .text {
  width: 90%;
  text-align: center;
  color: #fff;
  font-size: 16.5px;
  margin: 15px auto;
}
.quarto-container-main > .box {
  width: 23%;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.quarto-container-main > .uno, .quarto-container-main >.cinque {
  margin-left: 50px;
}
.quarto-container-main > .quattro, .quarto-container-main > .otto {
  border-right: none;
}
.quarto-container-main > .uno, .due, .tre, .quattro {
  margin-top: 35px;
}
.quarto-container-main > .cinque,.quarto-container-main > .sei,.quarto-container-main > .sette,.quarto-container-main > .otto {
  margin-bottom: 70px;
  border-bottom: none;
}
.img-qcm{
  width: 50px;
  height: 50px;
  margin: 20px auto;
}
.quarto-container-main > .box > .img-qcm >img {
  width: 100%;
  height: 100%;
}
.quarto-container-main > .box > .titolo{
  font-size: 40px;
  font-weight: bold;
  color: white;
  display: inline-block;
}
.quarto-container-main > .box > span{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.quarto-container-main > .box > .text{
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
.quinto-container-main{
  width: 1200px;
  margin: 75px auto;
}
.quinto-container-main > .uno-qucm{
  width: 35%;
}
.quinto-container-main > .due-qucm{
  width: 65%;
}
.quinto-container-main > .uno-qucm > .title {
  margin-bottom: 35px;
}
.quinto-container-main > .uno-qucm > .text {
  width: 200px;
  margin: auto;
  line-height: 25px;
}
.img-qucm{
  width: 185px;
  height: 80px;
}
.quinto-container-main > .due-qucm > .container-qucm > .img-qucm >img {
  height: 60%;
  width: 90%;
  text-align: center;
}
.sesto-container-main {
  width: 1200px;
  margin: auto;
}
.sesto-container-main > .uno-scm {
  width: 40%;
  padding-left: 35px;
}
.sesto-container-main > .due-scm {
  width: 60%;
}
.sesto-container-main > .uno-scm > .title {
font-weight: bold;
 margin-bottom: 25px;
}
.sesto-container-main > .due-scm > img {
  width: 30%;
  float: right;
}
footer {
  width: 1200px;
  background-color: #32495b;
  margin: 25px auto 0;
}
.container-footer {
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}
.box-footer{
  width: 25%;
  padding-left: 50px;
}
.box-footer > .title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px
}
.box-footer > .text {
  color: white;
  font-size: 15px;
  margin: 15px 0;
}
#ContactHubSpot{
  padding: 10px 10px;
  font-size: 13px;
  background-color: #dadee0;
  border: 1px solid #dadee0;
  color: #32495b;
  border-radius: 7px 7px;
}
.img-footer {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 4px;
}
.img-footer > img  {
  height: 100%;
}
.language-bar {
  width: 1100px;
  margin: auto;
  border-bottom: 1px solid white;
}
ul {
  list-style: none;
  color: white;
  text-align: center;
}
ul > li {
  display: inline;
  margin: 0 10px;
}
.ultimate-container {
  width: 1100px;
  margin: 25px auto;
}
.img-footer {
  height: 30px;
  width: 30px;
}
.img-footer > img  {
  height: 100%;
}
.ultimate-container > .box > .text {
  color: white;
  margin: 10px 0;
  width: auto;
}
